# GitIgnore

# Windows, WindowsCS Projects
**/Debug/
**/bin/
**/obj/

# Mac, MacOjbC Projects
**/Build/

# Linux, ROS Projects
**/build/
**/bin/
**/lib/

# Object Files, Executables
*.o
*.obj
*.exe
*.out
*.app

# XCode
**/xcuserdata/


# VisualStudio
*.user
*.idb
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.log
